<h1 class="text-2xl font-bold mb-4">Task Details</h1>

<p><strong>Title:</strong> <%= @task.title %></p>
<p><strong>Description:</strong> <%= @task.description %></p>
<p><strong>Status:</strong> <%= @task.status %></p>
<p><strong>Assigned to:</strong> <%= @task.user.present? ? @task.user.email : 'Unassigned' %></p>

<div class="mt-4">
  <%= link_to 'Edit Task', edit_task_path(@task), class: 'text-blue-500 hover:underline' %>
  <%= link_to 'Back to Tasks', tasks_path, class: 'text-blue-500 hover:underline ml-4' %>
</div>


  <h2 class="text-xl font-bold mt-8">Comments</h2>
  <ul class="mt-4">
    <% if @task.comments.any? %>
      <% @task.comments.each do |comment| %>
        <li class="mb-2 p-4 bg-gray-100 rounded-md shadow-md">
          <strong><%= comment.user.email %>:</strong>
          <p><strong>Status:</strong> <%= comment.status.presence || "" %></p>
          <p class="mt-1"><strong>Comment:</strong> <%= comment.body.presence || "No comment" %></p>
          <% if comment.image.attached? %>
          <%= image_tag comment.thumbnail, class: "mt-2 max-w-full h-auto" %>
        <% end %>
          <div class="mt-2 flex items-center space-x-2"> 
          <% if current_user.admin? %>    
          
            <%= button_to 'Approve', approve_task_comment_path(@task, comment), method: :patch, class: "bg-gray-400 text-white font-bold py-2 px-4 rounded hover:bg-green-300" %>     
            <%= button_to 'Reject', reject_task_comment_path(@task, comment), method: :patch, class: "bg-gray-400 text-white font-bold py-2 px-4 rounded hover:bg-pink-300" %>      
 
            <%= button_to 'Delete', task_comment_path(@task, comment), method: :delete, data: { confirm: 'Are you sure?' }, class: "text-white font-bold bg-gray-400 border border-gray-300 rounded-md px-4 py-2 hover:bg-gray-300 rounded" %>
            <% else %>

            <% if comment.status.present? %>
            <p><strong>Your comment has been <%= comment.status %> by the admin</strong></p>
            <% else %>
            <%= link_to 'Edit', edit_task_comment_path(@task, comment), class: 'text-white font-bold bg-gray-400 border border-gray-300 rounded-md px-4 py-2 hover:bg-gray-300 rounded' %>
            <%= button_to 'Delete', task_comment_path(@task, comment), method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-white font-bold bg-gray-400 border border-gray-300 rounded-md px-4 py-2 hover:bg-gray-300 rounded' %>
            <% end %>
            <% end %>
          
            </div>
        </li>
      <% end %>
    <% else %>
    <% if current_user.admin? %>
    <p>No comments available for this task.</p>
    <% else %>
    <%= render partial: 'comments/form', locals: { task: @task } %>
    <% end %>
    <% end %>
  </ul>
